/* ---------------------------------------------------------------- */
/* Showlist App Css */
/* ---------------------------------------------------------------- */

.button
{
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #10165F;
}
.button:pressed
{
-fx-background-color : #1620A1;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.homepane{
    -fx-background-color : #3c3b3f;
}

.split-pane-divider {
    -fx-background-color: black;
    -fx-padding: 10;
}

.split-pane {
    -fx-padding: 0;
    -fx-border-style: none;
    -fx-background-radius: 10;
}


/* ================================================================= */
/* Card Raiting Bar */

.progress-bar {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-radius: 0; /* Remove border radius */
    -fx-border-color: black; /* Set border color to transparent */
}

.progress-bar .track {
    -fx-background-color: rgba(73, 73, 73, 0.3); /* Set track background to transparent */
}

.progress-bar .bar {
    -fx-background-insets: 0;
    -fx-border-width: 0; /* Remove border radius */
    -fx-border-color: black; /* Set border color to black */
    -fx-background-color: green; /* Customize the progress bar color */
    -fx-background-radius: 0 0 0 0; /* Remove border radius */
}


/* ================================================================= */

/* ================================================================= */
/* vvvv Card Text Box css vvvv */

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

/* ================================================================= */